.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin: 20px 0;
}

.pageBtn {
  border: none;
  background: none;
  color: #333;
  font-size: 13px;
  cursor: pointer;
  padding: 0 4px;
}

.active {
  color: #ff3300 !important; /* 디시 포인트 컬러 */
  font-weight: bold;
  text-decoration: underline;
}

.arrowBtn {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #666;
  font-size: 11px;
  padding: 1px 4px;
  margin: 0 5px;
  cursor: pointer;
}

.arrowBtn:disabled {
  color: #ddd;
  border-color: #eee;
}
